@font-face { 
    font-family: Comfortaa; src: url(font/Comfortaa-VariableFont_wght.ttf); 
}

body {
    font-family: Comfortaa, sans-serif;
    transition: all 0.5s;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: darkgray;
}

#title {
    width: vw;
    border: 10px solid black;
    padding: 50px;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    background-image: url(img/title.jpeg);
    text-shadow:0px 0px 15px black;
    font-size: 35px;
    color: white;
}

.section-header {
    text-align: center;
    font-size: 25px;
    width: auto;
}

.text {
    font-size: 20px; 
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(0, 0, 0);
        color: white
    }

    footer {
        background-color: rgb(30,30,30)
    }

    a:visited {
        color:blueviolet;
    }

    #title {
        border: 10px solid white;
    }
}
