body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: lightgray;
    color: black;
}

#title {
    width: vw;
    border: 10px solid black;
    padding: 50px;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    background-image: url(title.jpeg);
    text-shadow:0px 0px 10px black;
    font-size: 35px;
    color: white;
}

.section-header {
    text-align: center;
    font-size: 35px;
    width: auto;
}